/web/assetic
!web/assets/js/app/highchart/themes/gray.js
!/js/app/highchart/highcharts.js
/js/app/highchart/*
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
!/var/perm.sh
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
*~
.idea/
web/compiled/
/bower_components
/bin/gifts.txt
/web/uploads/
/bin/apiTest.php
/var/dev/bridge_pending.yml

#ADMIN LTE
.sass-cache/
/node_modules/
/web/assets/bower/
/web/assets/gulp/

bin/symfony_requirements
web/config.php
